doctype haml
html(lang="en")
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes")
	script(type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js")
	script(type="text/javascript" src="/js/bootstrap.min.js")
	link(rel="stylesheet" href="/css/bootstrap.min.css")
	link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
	style(type="text/css").
		body {
			padding-top: 50px;
			padding-bottom: 20px;
		}
	block head_extra
body
	nav(role="navigation" class="navbar-wrapper navbar-default navbar-fixed-top")
		#navbar-header
			button(type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle")
				span(class="sr-only") Toggle navigation
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a(href="#" class="navbar-brand") Bootstrap Express
			.navbar-collapse.collapse
				-if (user != undefined) {
					ul.nav.navbar-nav
						li
							a(href="/") Home
				-}
	
	.container
		block content

	footer
		